.sorting-table{
  th{
    font-size: 16px;
    cursor: pointer;
    user-select: none;
  }
  .sort-direction-arrow{
    display: inline-block;
    margin-left: 5px;
    &-asc{
      transform: rotate(180deg);
    }
  }
}